/* Font Styling */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    width: 1444px;
    margin: 0px;
}

h1 {
    font-size: 48px;
    font-weight: bold;

}

h2{
    font-size: 39px;
    font-weight: normal;

}

h3 {
    font-size: 25px;
    font-weight: normal;
}

p {
    font-size: 16px;
    font-weight: normal;
}


/* Navigation*/

.navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main-nav{
    display:flex;
    justify-content: space-between;
    word-spacing: 10px;
    padding: 2rem;

}
.main-nav div{
    margin: 0px 10px;
}

.logo {
    width: 30%;
    padding: 1%;
    justify-content: left;
    padding-top: 15px;
    padding-left: 15px;
}

/* Hero*/

.jumbotron {
    color: black;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 200px;
    padding-top: 75px;

}

.textPhoto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    align-items: top; 
    padding-right: 50px;
}

.aboutMe {
    margin-top: 0px;
    margin-bottom: 0px;

}

/* My Skills */

.Skills {
    background-color: #F1F4F6;
}

.Heading2 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 50px;
}

.card {
    display: flex;
    flex-direction: row;

}

.card-body {
    display: grid;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;

}

.buttonArea {
    display: flex;
    justify-content: center;
}

.button {
    background-color: white;
    color:#6E6868;
    padding: 15px 32px;
    font-size: 25px;
    outline: none;
    border: 3px solid #6E6868;
    text-decoration: none;
    text-align: center;


}

/* Footer */

.footer {
    display: grid;
    height: 150px;
    width:1444px;
    grid-template-areas:
    "Headline Headline" 
    "Subhead Subhead"
    "Copyright Social";
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: 90% 10%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 30px;

}

.Headline {
    grid-area: Headline;
    padding: 25px;

}

.Subhead {
    grid-area: Subhead;
    padding: 25px;
    padding-top: 0px;

}

.Copyright {
    grid-area: Copyright;
    padding: 25px;
    padding-top: 0px;
}


.Social {
    grid-area: Social;
  
}

.email {
    color: black;

}
.fab {
    padding: 5px;
}


 