/* Font Styling */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    width: 1444px;
    margin: 0px;
}

h2{
    font-size: 48px;
    font-weight: normal;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    font-weight: normal;
}
p {
    font-size: 16px;
    font-weight: normal;
}


/* Navigation*/
.navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main-nav{
    display:flex;
    justify-content: space-between;
    word-spacing: 10px;
    padding: 2rem;

}
.main-nav div{
    margin: 0px 10px;
}

.logo {
    width: 30%;
    padding: 1%;
    justify-content: left;
    padding-top: 15px;
    padding-left: 15px;
}

/* Hero */

.heroSection {
    display: flex;
    align-items: flex-start;
    margin: 75px;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;

}

.button {
    background-color: white;
    color:#6E6868;
    padding: 15px 32px;
    text-align: center;
    font-size: 25px;
    outline: none;
    border: 3px solid #6E6868;
}
/* Projects*/

.featuredProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    text-align: start-end;
    padding-bottom: 50px;
    margin: 0px auto;
    width: 90%;
    

}


.h3 { 
    align-items: center
    
}


.dateArrow {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Footer */

.footer {
    display: grid;
    height: 469px;
    width:1444px;
    grid-template-areas:
    "Headline Headline" 
    "Subhead Subhead"
    "Copyright Social";
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: 90% 10%;
    background-image: url("../Images/footer_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;

}

.Headline {
    grid-area: Headline;
    padding: 25px;

}

.Subhead {
    grid-area: Subhead;
    padding: 25px;
    padding-top: 0px;

}

.Copyright {
    grid-area: Copyright;
    padding: 25px;
    padding-top: 0px;
}


.Social {
    grid-area: Social;
  
}

.email {
    color: black;
}
    

@media only screen and (max-width: 600px) {
    .featuredProjects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 50px;
        margin-left: 35px;
        text-align: start-end;


    }

    .heroSection {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;


    }
    
    h2{
        font-size: 38px;
        font-weight: normal;
        justify-content: center;

    }
    .nav{
        flex-direction: column-reverse;
    }
 }


 